<div class="container-fluid mt-4">
    <div class="row p-4">
        <div class="col-md-6">
            <div class="content_wrapper">
                <div class="content-wrapper_head">
                    <h2>Burger Mania</h2>
                    <div class="des mt-3">
                        <p class="mt-4 mb-3">It is one of the most iconic and well-recognizable fast food restaurants out there which offers really amazing food and drinks.It is one of the most iconic and well-recognizable fast food restaurants out there which offers really
                            amazing food and drinks.

                        </p>
                    </div>
                    <div class="wrap_details mt-4">
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                <img src="../../../assets/Image/Vector.png">
                            </div>
                            <div class="wrap_details_text pl-4">
                                Mon - Thu: 10:30 AM - 11:00 PM,<br> Fri - Sat: 10:30 AM - 06:00 PM
                            </div>
                        </div>
                    </div>
                    <div class="wrap_details mt-3">
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                <img src="../../../assets/Image/Icon.png">
                            </div>
                            <div class="wrap_details_text">
                                +39 3498765432, +39 3498765432
                            </div>
                        </div>
                    </div>
                    <div class="wrap_details mt-3">
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                <img src="../../../assets/Image/Vector.png">
                            </div>
                            <div class="wrap_details_text">
                                https://www.BurgerMania.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img_wrapper">
                <img class="w-100" src="../../../assets/Image/Image (1).png" alt="">
            </div>
        </div>
    </div>
    <div class="row pt-4 pb-3">
        <div class="col-md-4 mx-auto">
            <hr />
        </div>
    </div>
</div>

<app-restaurants-product></app-restaurants-product>